.collectiveMain {
  min-height: 100vh;
  background: #000;
  padding: 180px clamp(calc(10px + 1rem), 3vw, 500px);
  color: #fff;
}

.collectiveHeader {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 40px 0;
  margin-bottom: 80px;
  position: relative;
}

.collectiveHeader a {
  position: relative;
  border-bottom: 1px solid #fff;
  z-index: 5;
}

.collectiveHeader a:last-of-type {
  border-bottom: none;
}

.headerAnchor {
  font-family: "Sohne Kraftig", sans-serif;
  padding: 10px;
  font-size: calc(1rem + 1.5vw);
  text-transform: uppercase;
}

.heroImage {
  position: absolute;
  top: 50%;
  left: 60%;
  transform: translateY(-50%);
  width: 30%;
  z-index: 1;
  border-radius: 20px;
  overflow: hidden;
}

.collectiveContainer > div {
  padding: 40px 0;
  border-bottom: 1px solid #fff;
  margin-bottom: 80px;
}

.collectiveContainer > div:last-of-type {
  border-bottom: none;
}

.collectiveMember {
  display: flex;
  align-items: flex-start;
  width: 100%;
  gap: 30px;
}

.memberInfo {
  font-family: "Sohne Kraftig", sans-serif;
  width: 75%;
  display: flex;
  flex-direction: column;
  gap: 30px;
}

.memberHeadshot {
  width: 25%;
  border-radius: 20px;
}

.memberName {
  text-transform: uppercase;
}

.mobileMemberName {
  display: none;
}

.memberSocial {
  display: flex;
  flex-direction: column;
}

.participantContainer {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  column-gap: 20px;
  row-gap: 40px;
  margin-top: 40px;
}

.participant {
  display: flex;
  flex-direction: column;
  font-family: "Sohne Kraftig", sans-serif;
}

.participantName {
  text-transform: uppercase;
  text-align: center;
  padding: 10px 0;
}

.participantSocial {
  margin-top: 20px;
  display: flex;
  flex-direction: column;
}

.instagramLink {
  display: flex;
  align-items: center;
  gap: 10px;
}

.instagramLink svg {
  height: calc(1rem * 0.8);
  width: calc(1rem * 0.8);
}

@media screen and (max-width: 900px) {
  .memberName {
    display: none;
  }
  .mobileMemberName {
    display: inline-block;
    text-transform: uppercase;
    font-family: "Sohne Kraftig", sans-serif;
  }

  .collectiveMember {
    flex-wrap: wrap;
  }

  .memberHeadshot {
    flex-grow: 1;
    max-width: 50%;
    border-radius: 20px;
  }

  .memberInfo {
    width: 100%;
  }

  .participantContainer {
    grid-template-columns: 1fr 1fr;
  }
}
