.footer {
  background: #000;
  padding: clamp(10px, 3vw, 500px);
  color: #fff;
}

.footer a {
  transition: all 400ms;
}

.footer p {
  margin-bottom: 0;
}

.footer a:hover {
  opacity: 0.5;
  transition: all 400ms;
}

.footerContainer {
  border: 1px solid #fff;
  border-radius: 20px;
  padding: 40px;
  display: flex;
  justify-content: space-between;
}

.footerLogo {
  font-family: "Druk", sans-serif;
  font-size: calc(1rem + 3vw);
  text-transform: uppercase;
  letter-spacing: 1px;
  line-height: 0.9;
}

a.footerLogo:hover {
  opacity: 1;
}

.footerLinkContainer {
  font-family: "Sohne", sans-serif;
  font-size: calc(1rem * 0.8);
  display: flex;
  flex-grow: 1;
  gap: 10%;
  justify-content: flex-end;
}

.footerColumn {
  display: flex;
  flex-direction: column;
}

.footerUpper {
  text-transform: uppercase;
}

.footerBelowMargin {
  margin-bottom: 20px;
}

.footerBMW {
  margin-top: 10px;
  padding: 0 30%;
}

.footerCredit {
  font-family: "Sohne", sans-serif;
  font-size: calc(1rem * 0.8);
  color: #8b8680;
  margin-top: 20px;
  display: inline-block;
  padding-left: 40px;
}

@media screen and (max-width: 1060px) {
  .footerContainer {
    flex-direction: column;
    padding: 20px;
    gap: 20px;
  }

  .footerLinkContainer {
    width: 100%;
    justify-content: space-between;
  }

  .footerCredit {
    padding-left: 20px;
  }

  .footerLogo {
    font-size: calc((1rem + 3vw) * 1.6);
  }
}

@media screen and (max-width: 600px) {
  .footerLinkContainer {
    flex-wrap: wrap;
    padding-top: 20px;
    gap: 20px;
    row-gap: 40px;
  }

  .footerBMW {
    margin-top: 10px;
    padding: 0 60% 0 0;
  }
}
