header {
  font-family: "Sohne", sans-serif;
  position: absolute;
  z-index: 400;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: clamp(calc(10px + 1rem), 3vw, 500px);
  width: 100%;
}

.menu {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  font-size: calc(1rem * 0.9);
}

.headerLogo {
  width: clamp(160px, 18%, 785px);
  display: flex;
  gap: 2%;
}

.logoCircle {
  width: 41%;
}

.logoText {
  width: 59%;
}

.headerLogo:hover {
  opacity: 1;
}

.headerLogo:hover .logoCircle {
  animation: spin 6s linear infinite;
}

.menuLink,
.activeLink {
  position: relative;
}

.menuLink:hover::after,
.activeLink::after {
  content: "";
  display: block;
  width: calc(1rem - 5px);
  height: calc(1rem - 5px);
  background: currentColor;
  border-radius: 100%;
  position: absolute;
  left: 100%;
  top: 50%;
  transform: translate(50%, -50%);
}

@keyframes spin {
  100% {
    transform: rotate(360deg);
    transform-origin: center;
  }
}
