.indexMain {
  min-height: 100vh;
  background: #000;
  padding: 180px clamp(calc(10px + 1rem), 3vw, 500px) 40px
    clamp(calc(10px + 1rem), 3vw, 500px);
  color: #fff;
  font-family: 'Sohne Kraftig', sans-serif;
}

.homeVideo {
  width: 80%;
  margin: 60px 10%;
  border-radius: 20px;
  overflow: hidden;
}

.aboutHeroText {
  text-transform: uppercase;
  margin-top: 100px;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 40px;
}

.aboutText {
  width: 75%;
  font-size: 2rem;
  text-align: center;
}

.aboutBtn {
  border-radius: 20px;
  border: 1px solid #fff;
  padding: 10px 20px;
}

.workshopCard {
  margin-top: 100px;
  text-transform: uppercase;
}

.upcomingContainer,
.journalContainer {
  margin-top: 100px;
}

.table {
  margin-top: 20px;
}

.table > div {
  border-top: 1px solid #fff;
}

.table > div:last-of-type {
  border-bottom: 1px solid #fff;
}

.row {
  padding: 20px clamp(calc(10px + 1rem), 3vw, 500px);
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: calc(100% + (clamp(calc(10px + 1rem), 3vw, 500px) * 2));
  margin-left: calc(clamp(calc(10px + 1rem), 3vw, 500px) * -1);
}

.row p {
  margin-bottom: 0;
}

.rowTitle {
  display: flex;
  gap: 10px;
  justify-content: center;
  font-size: 2rem;
}

.completed {
  text-decoration: underline;
}

.status {
  text-align: right;
  font-family: 'Druk', sans-serif;
  font-size: 2rem;
  letter-spacing: 1px;
  font-weight: normal;
}

.emailHeading {
  text-transform: uppercase;
}

.emailSignUp {
  margin-top: 40px;
}

.emailForm {
  width: 100%;
  display: flex;
  gap: 10px;
  align-items: center;
  position: relative;
}

.emailFormConfirmed {
  display: none;
}

.confirmSubtext {
  font-size: calc(1rem * 0.75);
}

.emailForm button[type='submit'] {
  position: absolute;
  right: 10px;
  cursor: pointer;
  z-index: 5;
}

.emailForm input {
  width: 50%;
  padding: 10px;
  border-width: 1px;
  border-style: solid;
  border-color: #000;
  font-family: 'Sohne Kraftig', sans-serif;
  font-size: 1rem;
}

.emailForm input:focus {
  outline: 1px solid gray;
}

.emailForm input:-webkit-autofill,
.emailForm input:-webkit-autofill:hover,
.emailForm input:-webkit-autofill:focus,
.emailForm input:-webkit-autofill:active {
  -webkit-box-shadow: 0 0 0px 1000px white inset;
}

.upcomingGrid {
  margin-top: 20px;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 20px;
}

.upcomingImage {
  border-radius: 20px;
  margin-bottom: 20px;
}

.upcomingDates {
  font-size: 0.75rem;
}

.workshopsContainer {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 20px;
  row-gap: 40px;
  margin-top: 20px;
}

.workshopImage {
  width: 100%;
  border-radius: 20px;
  aspect-ratio: 1920 / 1283;
  margin-bottom: 20px;
}

.collectiveHeader {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 40px 0;
  margin-bottom: 80px;
  position: relative;
}

.collectiveHeader a {
  position: relative;
  z-index: 5;
}

.headerAnchor {
  font-family: 'Druk', sans-serif;
  text-transform: uppercase;
  font-size: clamp(50px, calc(1rem + 3vw), 400px);
  letter-spacing: 1px;
  font-weight: normal;
  padding-bottom: 20px;
}

.heroImage {
  position: absolute;
  top: 50%;
  left: 60%;
  transform: translateY(-50%);
  width: 30%;
  z-index: 1;
  border-radius: 20px;
  overflow: hidden;
}

@media screen and (max-width: 800px) {
  .indexMain {
    padding-top: 100px;
  }

  .workshopCard {
    padding: 20px;
  }

  .workshopInfoContainer {
    flex-direction: column;
    gap: 40px;
  }

  .workshopInfoContainer > div {
    width: 100%;
  }

  .readLink {
    margin-top: 20px;
    text-align: left;
  }

  .homeVideo {
    width: 100%;
    margin: 60px 0;
    margin-top: 0;
  }
}

@media screen and (max-width: 600px) {
  .row {
    grid-template-columns: 1fr 1fr;
  }
  .chapter,
  .location {
    grid-column-start: 1;
    grid-column-end: 2;
  }

  .date {
    grid-row-start: 1;
    grid-column-start: 2;
  }
}
