.journalMain {
  min-height: 100vh;
  padding: 180px clamp(calc(10px + 1rem), 3vw, 500px);
  background: #fff;
  font-family: "Sohne Kraftig", sans-serif;
}

.tagContainer {
  margin-top: 60px;
  display: flex;
  gap: 10px;
  flex-wrap: wrap;
  margin-bottom: 40px;
}

.tagButton {
  font-family: "Sohne Kraftig", sans-serif;
  font-size: calc(1rem * 0.8);
  cursor: pointer;
  padding: 5px 15px;
  border: 1px solid #000;
  border-radius: 20px;
  transition: all 400ms;
}

.tagButton:hover {
  background: #838383;
  color: #fff;
  border: 1px solid #838383;
  transition: all 400ms;
}

.activeTagButton {
  background: #838383;
  color: #fff;
  border: 1px solid #838383;
  transition: all 400ms;
}

.workshopHighlight {
  font-family: "Sohne Kraftig", sans-serif;
  display: flex;
  gap: 20px;
  margin: 40px 0;
}

.highlightImage {
  width: 50%;
  border-radius: 20px;
}

.highlightText {
  display: flex;
  flex-direction: column;
  gap: 40px;
  width: 50%;
}

.workshopHighlightsContainer {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  width: 100%;
  gap: 2%;
  margin-bottom: 40px;
}

.multipleHighlightContainer {
  display: block;
  width: 49%;
  display: flex;
  flex-direction: column;
  gap: 10px;
  align-items: center;
}

.multipleHighlightImage {
  width: 100%;
  border-radius: 20px;
  aspect-ratio: 1920 / 1283;
}

.filterContainer {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 10px;
}

.supplementalContainer {
  column-count: 4;
}

.supplementalTile {
  display: flex;
  flex-direction: column;
  break-inside: avoid-column;
  align-items: center;
  gap: 10px;
}

.filterFeatureTile {
  display: flex;
  flex-direction: column;
  break-inside: avoid-column;
  align-items: center;
  gap: 10px;
  grid-column: span 2;
}

.supplementalTile p {
  margin-bottom: 20px;
  text-align: center;
}

.supplementalDisplay {
  width: 100%;
  border-radius: 20px;
}

.mediumContainer {
  display: flex;
  gap: 5px;
}

.tileDisplayText {
  background: #dedede;
  padding: 10px;
  border-radius: 20px;
  min-height: 80px;
  display: grid;
  place-items: center;
  width: 100%;
}

@media screen and (max-width: 750px) {
  .workshopHighlight {
    flex-direction: column;
  }

  .highlightImage {
    width: 100%;
  }

  .highlightText {
    width: 100%;
    gap: 20px;
  }

  .supplementalContainer {
    column-count: 2;
  }

  .multipleHighlightContainer {
    width: 100%;
  }

  .workshopHighlightsContainer {
    gap: 40px;
    margin: 40px 0;
  }

  .filterContainer {
    grid-template-columns: repeat(2, 1fr);
  }
}
