.loaderContainer {
  height: 100vh;
  width: 100vw;
  display: grid;
  place-items: center;
  background: #000;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 20000;
}

.spinner {
  width: 20vw;
  opacity: 0;
  animation: spin 6s linear infinite, fadeOn 100ms 400ms forwards;
}

@keyframes fadeOn {
  100% {
    opacity: 1;
  }
}

@keyframes spin {
  100% {
    transform: rotate(360deg);
    transform-origin: center;
  }
}
