.sliderContainer {
  position: relative;
  margin-left: clamp(-2000px, -20vw, calc((10px + 1rem) * -1));
  width: 100vw;
  margin-top: 80px;
  margin-bottom: 80px;
}

.slide {
  margin-right: 20px;
}

.slideContainer {
  display: flex;
}

.slideContainer figure {
  height: 100%;
}

.imageBorder {
  border-radius: 20px;
}

.slideContainer figcaption {
  margin-top: 10px;
  font-family: var(--font-secondary);
  font-variant-numeric: normal;
  font-size: var(--caption);
  padding-right: 20px;
}

.nextArrow,
.previousArrow {
  position: absolute;
  top: -40px;
  transform: translateY(-50%);
  height: 20px;
  width: 20px;
  cursor: pointer;
  z-index: 10;
}

.nextArrow {
  right: 10px;
}

.previousArrow {
  right: 120px;
}

.carouselSVG {
  height: 100%;
  width: 100%;
}

.slideCount {
  position: absolute;
  top: -40px;
  transform: translateY(-50%);
  right: 43px;
  font-size: var(--caption);
}

@media screen and (max-width: 1100px) {
  .previousArrow {
    right: 110px;
  }
}

@media screen and (max-width: 1000px) {
  .nextArrow,
  .previousArrow,
  .slideCount {
    top: -40px;
  }
}

@media screen and (max-width: 750px) {
  .sliderContainer {
    margin-left: -10px;
    margin-top: 80px;
    margin-bottom: 40px;
  }

  .previousArrow {
    right: 100px;
  }
}
